<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
<link rel="stylesheet" href="/universal.css">
  </head>
  <body>
    <h1>Eatr</h1>
    <h4>Remember what you liked</h4>
  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Price</th>
    </tr>
    <%for (let i = 0; i < restaurants.length; i++){%>
      <tr>
        <td><a href = '/restaurants/<%=restaurants[i].id%>'><%=restaurants[i].name%></a></td>
        <td><%=restaurants[i].location%></td>
        <td><%=restaurants[i].price%></td>
        <td><a href = '/restaurants/<%=restaurants[i].id%>/edit'>Edit Restaurant</a></td>
      </tr>
    <%}%>
 </table>
 <a href = '/restaurants/new'>Add a New Restaurant</a>
  </body>
</html>
