<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=restaurants.name%></title>
    <link rel="stylesheet" href="/universal.css">
  </head>
  <body>
    <h1><%=restaurants.name%></h1>
    <h4>Located in <%=restaurants.location%></h4>
    <h4>Here's what you've had at <%=restaurants.name%>!</h4>
    <table>
      <tr>
        <th>Name</th>
        <th>Price (USD, + Tax)</th>
        <th>Rating</th>
      </tr>
    <%for (let i = 0; i < restaurants.food.length; i++){%>
      <tr>
      <td><a href = '/restaurants/<%=restaurants.id%>/<%=i%>'><%=restaurants.food[i].name%></a></td>
      <td><%=restaurants.food[i].price%></td>
      <td><%=restaurants.food[i].rating%></td>
      <tr>
    <%}%>
  </table>
  <form action='/restaurants/<%=restaurants.id%>?_method=DELETE' method = 'POST'>
    <input type = 'submit' value = 'Delete Restaurant'></form>
    <a href = '/restaurants/<%=restaurants.id%>/new'>Add a New Food to <%=restaurants.name%></a>
  </body>
</html>
